---
ansistrano_deploy_to: "{{ project_deploy_dir|trim }}"

ansistrano_maven_group_id: "{{ project_group_id|trim }}"
ansistrano_maven_artifact_id: "{{ project_artifact_id|trim }}"

ansistrano_url_username: "{{ ansistrano_url_username }}"
